<html>
<head>
<style>
body {
  background-color: yellow;
}

h1.toptitle {
  color: maroon;
  text-align: center;
}

#mainworkarea {
  color: black;
  margin-left: 50px;
  margin-right: 50px;
}
</style>

</head>
<body>
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	<script src="../hx-plonk.js"></script>

<script>
  PLONKTREE='*'
  PLONKFORREST={
	'*' : // baseline and default tree
	{
		'response-a' : 'response1.html',
		'response-b' : 'response2.html',
		'treename' : 'tree-star.html'
	},

	'tree-2' : // a tree with overrides and default parent
	{
		'response-a' : 'response2.html',
		'treename' : 'tree-2.html'
	},

	'tree-3' : // a tree with defined parent
	{
		'@' : 'tree-2',
		'treename' : 'tree-3.html'
	}  
  };
  
</script>

	<h1>Plonk tests</h1>
	<div>
		<h2>Test 1: Simpel test</h2>
		<div>
			<form hx-get="response-a@plonk" hx-target="#test1response" hx-ext="plonk">
				
				<button >Do it</button>
			</form>
			"Response-1" is expected
			<br>
		</div>
		<div id="test1response">
		Unfilled response area
		</div>	
	</div>
	<br>

	<div>
		<h2>Test 2: Use explicit defined Plonk tree</h2>
		<div>
			<form hx-get="treename@plonk" hx-target="#test2response" hx-ext="plonk" hx-plonktree="tree-2">
				<button >Do it</button>
			</form>
			"tree-2" is expected
			<br>
		</div>
		<div id="test2response">
		Unfilled response area
		</div>	
	</div>	
	<br>
	<div>
		<h2>Test 3: Use explicit defined Plonk tree with deep parents</h2>	
		<div>
			<form hx-get="response-b@plonk" hx-target="#test3response" hx-ext="plonk" hx-plonktree="tree-3">
				<button >Do it</button>
			</form>
			"Response-2" is expected
			<br>		
		</div>
		<div id="test3response">
		Unfilled response area
		</div>	
	</div>		
	<br>

	<div>
		<h2>Test 4: Use selection defined scenario (Plonk tree)</h2>	
		<div>
			<form hx-get="treename@plonk" hx-target="#testselectionresponse" hx-ext="plonk">
				
				<plonktreeselection/>
				<button >Do it</button>
			</form>
			The choosen sceneario name is expected
			<br>		</div>
		<div id="testselectionresponse">
		Unfilled response area
		</div>	
	</div>		
</body>